(
    selected_tab: Reset,
    command_fg: Rgb(236,239,244),
    selection_bg: Rgb(94,129,172),
    selection_fg: Rgb(236,239,244),
    cmdbar_bg: Rgb(94,129,172),
    cmdbar_extra_lines_bg: Rgb(94,129,172),
    disabled_fg: DarkGray,
    diff_line_add: Rgb(143,188,187),
    diff_line_delete: Rgb(191,97,106),
    diff_file_added: Rgb(163,190,140),
    diff_file_removed: LightRed,
    diff_file_moved: Rgb(180,142,173),
    diff_file_modified: Rgb(235,203,139),
    commit_hash: Rgb(180,142,173),
    commit_time: LightCyan,
    commit_author: Rgb(163,190,140),
    danger_fg: Rgb(191,97,106),
    push_gauge_bg: Rgb(94,129,172),
    push_gauge_fg: Reset,
    tag_fg: Rgb(180,142,173),
    branch_fg: LightYellow,
)
